{% extends "base.html" %}

{% set title = "搜索结果：" %}

{% block content %}

{% if not mixed %}
    {% if before %} <p>{{ before }}</p> {% endif %}
    {% if keywords %}
        {% for keyword in keywords %}
            但是。{{ keyword.surrounding }} {{ keyword.text }}还有
        {% endfor %}
    {% else %}
        <p>但是。没找到还有</p>
    {% endif %}
    {% if after %} <p>{{ after }}</p> {% endif %}
    {% if keywords %}
        <p>{{ keywords | map(attribute="id") | join(", ") }}</p>
    {% else %}
        <p>但是。真的还没有没找到</p>
    {% endif %}
{% else %}
    {% if before %} {{ before }} {% endif %}
    {% if keywords %}
        {% for keyword in keywords %}
            但是。{{ keyword.surrounding }} {{ keyword.text }}还有
        {% endfor %}
    {% else %}
        。没找到。
    {% endif %}
    {% if after %} {{ after }} {% endif %}
    {% if keywords %}
        {{ keywords | map(attribute="id") | join(", ") }}
    {% else %}
        但是。真的还没有没找到
    {% endif %}
{% endif %}

{% endblock %}
